ion-grid {
    ion-row {
        ion-col {
            &.long-text {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

ion-grid {
    ion-row {
        ion-col {
            text-align: center;
        }
    }
}

.perElement {
    padding-top:10px;
    padding-bottom: 10px;
    color: white;
}

.odd{
    background-color: #D23715;
  }
  .even{
    background-color: #E44B2A;
  }